.header-wraper{
    width: 1170px;
    background-color: lightblue;
    margin: 0 auto;
    padding: 30px;
}
.navigation{
    display: inline-block;
}
.nav-li{
    display: inline-block;
    margin-left: 50px;
}
body{
    height: 2000px;
}
.header-main-conteiner{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
.wraper{
    width: 400px;
    height: 400px;
    background-color:aquamarine;
    position: relative;

}
.box{
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 1;
}
.box2{
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: absolute;
    top: 80px;
    left: 150px;
    z-index: 2;
}
.title-image{
    position: absolute;
    top: 50px;
    left: 200px;
    font-size: 25px;
    color: red;
}
.image-div{
    position: relative;
    display: inline-block;
}
.chat-icon-div{

}
.chat-icon-image{
    width: 100px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.box-new{
    width: 600px;
    height: 600px;
    border: 2px solid green;
    position: relative;
    background-color: lightpink;
    transition: all 3s ease-in 2ms;
}
.block{
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
}
.box-new:hover{
    background-color: lightgreen;
}
.block:hover{
    
    width: 300px;
    height: 300px;
}
.box-new:hover .block{
    background-color: blueviolet;
}
